:root {
  --border-radius: 4px;
  --tile-border: conic-gradient(
    #ffffff80,
    #ffffff40,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff10,
    #ffffff80
  );

  --color-light: #dcdcdc;
  --color-purple-light: hsl(310, 51%, 42%);
}

/* #region SECTION: Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* allow for percentage based heights later down the line */
html,
body {
  height: 100%;
}

body {
  line-height: 1.5; /* accessiblity */
  -webkit-font-smoothing: antialiased; /* improve text rendering */
}

/* improve defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* create a root stacking context (for Next.js) */
#__next {
  isolation: isolate;
}
/* #endregion */

/* #region SECTION: Repo-specific styles */
body,
html {
  font-family: "Manrope", "Poppins", sans-serif;
  background-color: #222;
}

/*
When html is given height: 100%, it takes up the height of the viewport. That serves as our base. The body tag's 100% is based on that base size.
 */
html,
body,
/* #root, for CRA */
#__next /* for Next.js */ {
  height: 100%;
}
main {
  /* main & footer are siblings. so this doesn't have *quite* the desired effect */
  min-height: 100%;
}

footer {
  background-color: var(--color-light);
}

h2,
footer p {
  margin-left: 16px;
}
h2 {
  margin-bottom: 24px;
}

header,
h2 {
  color: var(--color-light);
}

footer p {
  font-size: 1.8rem;
}

section {
  padding-top: 48px;
  padding-bottom: 48px;
}
/* #endregion */
