.header {
  /* Necessary (or preferable) for animation */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
  overflow: hidden;

  max-width: fit-content;
  padding: 5px 18px;
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 8px -1px #ffffff1a;
  margin: 24px auto;
}

.header::before,
.header::after {
  content: "";
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.header::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 600%;
  background: var(--tile-border);
}

/* Inner Square */
.header::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    hsl(310, 50%, 25%),
    hsl(310, 56%, 11%),
    hsl(310, 56%, 11%)
  );
  background-clip: content-box;
}

.header_h1 {
  font-weight: 500;
}

@media (prefers-reduced-motion) {
  .header::before {
    animation: none;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
