.wrap {
  background-color: var(--color-primaryDark);
  position: relative;
  padding: 12px;

  /* will break in certain browsers if you add border-radius to the element with the wrap class */
  overflow-x: clip;
}

.card {
  background-color: var(--color-light);
  padding: 24px;
  border: 3px solid var(--color-primary);
}

.card p {
  margin-bottom: 1rem;
}
.card p:last-of-type {
  margin-bottom: 0;
}

/* Decoration */
.flourish {
  position: absolute;
  border-radius: 100px;
  width: 75px;
  height: 75px;
}

.flourish.one {
  background: var(--color-primary);
  right: -40px;
  bottom: 10px;
}

.flourish.two {
  background: var(--color-primaryLight);
  right: -20px;
  bottom: -45px;
}
