.relative {
  position: relative;
}

.centerAbsolutePositioning {
  position: absolute;

  /* top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; */
  inset: 0;
  /* ^ modern CSS FTW 👑 */

  width: 100px;
  height: 100px;
  margin: auto;
  background: var(--color-primary);
}
